*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: sans-serif;
}

article {
    max-width: 64ch;
    width: 100%;
    padding: 16px;
    margin: 0 auto;
}

h1 {
    font-size: 32px;
}

li {
    display: flex;
    justify-content: space-between;
}

.container {
    margin-top: 64px;
}
